html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    z-index: 100;
    padding: 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #DC3700;
}

footer {
    background-color: #181510;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

iframe {
    border: none;
    width: 100%;
    align-items: center;
}

h1 {
    margin: 0;
    color: white;
}

h2 {
    margin-top: 0;
    color: #FAB600;
    font-weight: bold;
    font-size: 3em;
}

h3 {
    margin-top: 1.2em;
    margin-bottom: 0.3em;
    color: #DC3700;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

h4 {
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 1.8em;
}

h5 {
    margin: 0;
    margin-top: 1em;
    color: #DC3700;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    display: block;
    margin-bottom: 0.5em;
}

#welcome-text {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-top: 0.5em;
}

#welcome-page {
    color: white;
    background-color: #181510;
    display: flex;
}

#welcome-text-div {
    padding-top: 200px;
    margin-right: 10%;
    width: 60%;
    padding-left: 20%;
    padding-bottom: 15%;
}

#img-header-logo {
    border-radius: 100%;
    margin-left: 15%;
    height: 5em;
    margin-right: 1em;
}

@media (max-width: 500px) {
  #img-header-logo {
    border-radius: 100%;
    margin-left: 0%;
    height: 5em;
    margin-right: 1em;
  }
}

#img-display {
    height: 550px;
    z-index: 50;
    position: relative;
    margin-top: -10px;
    margin-right: 50px;
    display: block;
    border-radius: 100%;
}

@media (max-width: 500px) {
  #img-display {
    border-radius: 100%;
    margin-left: 0%;
    height: 0em;
    margin-right: 1em;
  }
}

#menu-btn {
    margin-top: 1em;
    background-color: #DC3700;
    color: white;
    border: none;
    padding: 1em 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 8px;
}

#menu-btn:hover {
    background-color: white; /* new color on hover */
    color: #DC3700;
    transition: 0.3s;
}

.menu-page {
    align-items: center;
}

.menu-item {
    font-family: "Playfair Display";
    display: inline-block;
    width: auto;
    padding: 0em 10%;
    border-top: lightgray 1px solid;
}

@media (max-width: 500px) {
  .menu-item {
    display: inline-block;
    width: auto;
    padding: 0em 4em;
    border-top: lightgray 1px solid;
  }
}

.menu-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0em 0em;
}

@media (max-width: 500px) {
  .menu-row {
    display: inline-block;
  }
}

.food-price {
    color: #DC3700;
    font-weight: bold;
    margin: 0;
    font-size: 2em;
}

.food-header {
    padding-top: 2em;
    display: flex;           /* puts children in a row */
    justify-content: space-between; /* name left, price right */
    align-items: center;  
}

.food-description {
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 1.2em;
    color: #333;
    display: block;
    width: 60%;
}

@media (max-width: 500px) {
  .food-description {
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 1.2em;
    color: #333;
    display: block;
    width: 100%;
  }
}

.map-container {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin: 2em;
}

.map-container iframe {
    display: inline;
    width: 100%;
    max-width: 600px;
    height: 400px;
    border: 0;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1); /* smaller shadow */
    border-radius: 8px;         /* optional, makes corners rounded */
}

.map-container h5 {
    max-width: 600px;
    width: 100%;
}


.map-wrap {
    display: flex;
    margin: auto;
    flex-direction: column;     /* h5 above iframe */
    justify-content: center;
    max-width: 600px;
}

.footer-text {
    margin: 0.2em 1.4em;
    font-size: 1em;
    display: inline;
}

@media (max-width: 500px) {
  .footer-text {
    margin: 0.7em 1.4em;
    font-size: 1em;
    display: block;
  }
}

.footer-img {
    vertical-align: middle;
    margin-right: 0.5em;
}
