html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    z-index: 100;
    padding: 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #DC3700;
}

.mobile header {
    position: relative;
    z-index: 100;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #DC3700;
}

footer {
    background-color: #181510;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

iframe {
    border: none;
    width: 100%;
    align-items: center;
}

h1 {
    margin: 0;
    color: white;
    font-size: 2.5em;
}

.mobile h1 {
    font-size: 2em;
    display: none;
}

h2 {
    margin-top: 0;
    color: #FAB600;
    font-weight: bold;
    font-size: 3em;
}

h3 {
    margin-top: 1.2em;
    margin-bottom: 0.3em;
    color: #DC3700;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

h4 {
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 1.8em;
}

h5 {
    margin: 0;
    margin-top: 1em;
    color: #DC3700;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    display: block;
    margin-bottom: 0.5em;
}

#welcome-text {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-top: 0.5em;
}

#welcome-page {
    color: white;
    background-color: #181510;
    display: flex;
}

#welcome-text-div {
    padding-top: 200px;
    margin-right: 10%;
    width: 60%;
    padding-left: 20%;
    padding-bottom: 15%;
}

#menu-icon {
    width: 3.2em;
    margin-left: auto;
    margin-right: 1em;
    cursor: pointer;
    z-index: 220;
}

#menu-icon:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

#menu-icon.hidden {
    display: none;
}

#close-btn {
    margin-left: 2em;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 1;
}

#close-btn:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

/* horní čára */
#close-btn::before,
#close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 4px;            /* tloušťka čáry */
  background-color: lightgray;
  transform-origin: center;
}

/* diagonály */
#close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#side-navigating {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: rgba(24, 21, 16, 0.5);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
    padding-top: 2em;
}

.mobile #side-navigating {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: rgba(24, 21, 16, 0.5);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 200;
    padding-top: 2em;
}

#side-navigating.open {
    transform: translateX(0);
    background-color: rgba(24, 21, 16, 0.9);
}

.navi-btn {
    display: block;
    all: unset;
    cursor: pointer;  
    font-size: 2.6em;  
    font-weight: bold;
    color: lightgrey;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: color 0.6s ease;
}

.mobile .navi-btn {
    all: unset;
    display: flex;
    cursor: pointer;  
    font-size: 1em;  
    font-weight: bold;
    color: lightgrey;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: color 0.6s ease;
    text-decoration: underline;
}

.navi-btn:hover {
    color: #DC3700;
    transform: scale(1.1);
    transition: transform 0.6s ease;
    
}

.navi-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;              /* plná šířka */
  background-color: #DC3700;
  transform: scaleX(0);     /* začíná jako 0 */
  transform-origin: center; /* růst zprostřed */
  transition: transform 0.3s ease;
}

.navi-btn:hover::after {
  transform: scaleX(1);     /* plná šířka */
}


#img-header-logo {
    border-radius: 100%;
    margin-left: 15%;
    height: 5em;
    margin-right: 1em;
}

.mobile #img-header-logo {
    border-radius: 100%;
    margin-left: 0%;
    height: 5em;
    margin-right: 1em;
}

#img-display {
    height: 550px;
    z-index: 50;
    position: relative;
    margin-top: -10px;
    margin-right: 50px;
    display: block;
    border-radius: 100%;
}

.mobile #img-display {
    border-radius: 100%;
    margin-left: 0%;
    height: 0em;
    margin-right: 1em;
}


#menu-btn {
    margin-top: 1em;
    background-color: #DC3700;
    color: white;
    border: none;
    padding: 1em 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 8px;
}

#menu-btn:hover {
    background-color: white; /* new color on hover */
    color: #DC3700;
    transition: 0.3s;
}

.menu-page {
    align-items: center;
}

.menu-item {
    font-family: "Playfair Display";
    display: inline-block;
    width: auto;
    padding: 0em 10%;
    border-top: lightgray 1px solid;
}


.mobile .menu-item {
    display: inline-block;
    width: auto;
    padding: 0em 4em;
    border-top: lightgray 1px solid;
}


.menu-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0em 0em;
}


.mobile .menu-row {
    display: inline-block;
}


.food-price {
    color: #DC3700;
    font-weight: bold;
    margin: 0;
    font-size: 2em;
}

.food-header {
    padding-top: 2em;
    display: flex;           /* puts children in a row */
    justify-content: space-between; /* name left, price right */
    align-items: center;  
}

.food-description {
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 1.2em;
    color: #333;
    display: block;
    width: 60%;
}


.mobile .food-description {
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 1.2em;
    color: #333;
    display: block;
    width: 100%;
}


.map-container {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin: 2em;
}

.map-container iframe {
    display: inline;
    width: 100%;
    max-width: 600px;
    height: 400px;
    border: 0;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1); /* smaller shadow */
    border-radius: 8px;         /* optional, makes corners rounded */
}

.map-container h5 {
    max-width: 600px;
    width: 100%;
}


.map-wrap {
    display: flex;
    margin: auto;
    flex-direction: column;     /* h5 above iframe */
    justify-content: center;
    max-width: 600px;
}

.footer-text {
    margin: 0.2em 1.4em;
    font-size: 1em;
    display: inline;
}


.mobile .footer-text {
    margin: 0.7em 0;
    font-size: 1em;
    display: block;
}

.footer-img {
    vertical-align: middle;
    margin-right: 0.5em;
    margin-left: 0.5em;
    transform: scale(1.2);
}

.mobile .footer-img {
    vertical-align: middle;
    margin-right: 0.5em;
    margin-left: 0.5em;
    transform: scale(1);
}

.contact-info {
    display: inline;
    vertical-align: middle;
    font-size: 1.2em;
    transform: scale(1.2);
}

.mobile .contact-info {
    display: inline;
    vertical-align: middle;
    font-size: 1em;
    transform: scale(1);
}
